/* Common CSS Start */
body {
    margin: 0;
    padding: 0;
}
/* Common CSS End */

/* Header CSS Start */
header {
    border-bottom: 3px solid rgb(216, 216, 216);
    padding: 5px 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    width: 7%;
    float: left;
}

.logo img {
    width: 100%;
    padding: 8px 0 4px;
}

.menu {
    width: 40%;
    float: right;
}

.menu ul {
    float: right;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li a {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #a0a0a0;
    text-decoration: none;
    margin: 0 20px;
    display: inline-block;
}

.menu ul li a:hover {
    font-weight: 600;
    color: #008aff;
}

header:hover {
    border-bottom: 3px solid #008aff;
}

.menu ul li:last-child a {
    margin-right: 0;
}
/* Header CSS End */

/* Banner CSS Start */
.banner {
    padding-top: 40px;
}

.b_container {
    width: 55%;
    margin: 0 auto;
}

.b_cntainr_txt {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.b_cntainr_txt h1 {
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #0f2656;
    margin: 0;
}

.b_cntainr_txt h2 {
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #008aff;
    margin: 16px 0;
}

.b_cntainr_txt p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #a0a0a0;
    margin: 0 0 16px;
    line-height: 1.5;
}

.b_cntainr_img {
    width: 60%;
    margin: 0 auto;
}

.b_cntainr_img img {
    width: 100%;
}
/* Banner CSS End */

/* Success CSS Start */
.success {
    padding: 60px 0;
}

.s_container {
    width: 55%;
    margin: 0 auto;
    overflow: hidden;
}

.s_containr_left {
    width: 45%;
    font-family: Helvetica, sans-serif;
    float: left;
    text-align: right;
    margin-left: 2%;
}

.s_containr_left h2 {
    font-size: 60px;
    font-weight: 600;
    color: tomato;
    margin: 0;
}

.s_containr_left p {
    font-size: 16px;
    font-weight: 400;
    color: #a0a0a0;
    line-height: 1.5;
}

.s_containr_right {
    width: 45%;
    float: left;
    margin-left: 5%;
}

.s_containr_right h3 {
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #0f2656;
    margin: 0;
}
/* Success CSS End */

/* Creativity CSS Start */
.crtiv_cntainr {
    width: 70%;
    margin: 0 auto;
}

.crtiv_f_containr {
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

.crtiv1 {
    width: 27%;
    background-color: #fdebed;
    padding: 40px 25px;
    float: left;
}

.crtiv1-img {
    text-align: center;
}

.crtiv1-img img {
    width: 80%;
}

.crtiv1-txt h3 {
	font-size: 24px;
	letter-spacing: 1px;
    color: #0f2656;
}

.crtiv1-txt p {
    width: 88%;
    font-size: 16px;
    font-weight: 400;
    color: #445e94;
    line-height: 1.8;
    margin: 0;
}

.crtiv-green {
    background-color: #ebf9f4;
}

.crtiv2 {
	float: left;
	margin: 0 51px;
}

.crtiv-ylw {
    background-color: #f7e8f7;
}

.crtiv3 {
    float: left;
}
/* Creativity CSS End */

/* Footer CSS Start */
.footer {
    padding-top: 70px;
}
.f_container {
    background-color: #008aff;
    text-align: center;
}

.f_container p {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    padding: 30px 0;
    margin: 0; 
}

.f_container span {
    font-weight: 600;
    letter-spacing: 3px;
}
/* Footer CSS End */
